:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  margin: 40px 10px;
  padding: 40px;

  .course-name {
    width: 45%;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .course-time {
    display: flex;
    width: 45%;
    color: #c6c9d6;

    .time-spend {
      display: flex;

      &:before {
        font-family: IconFontFamily, sans-serif;
        content: "\e908";
        margin-right: 10px;
      }
    }
    .time-date {
      display: flex;
      margin-left: 30px;

      &:before {
        font-family: IconFontFamily, sans-serif;
        content: "\e907";
        margin-right: 10px;
      }
    }
  }

  .course-detail {
    width: 65%;
  }

  .course-buttons {
    display: flex;
    justify-content: space-between;
  }
}
