<span class="course-name">
  Hello World guide
</span>
<div class="course-time">
<span class="time-spend">1h 28min</span><span class="time-date">28 Nov, 2019</span>
</div>
<div class="course-detail">
  Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.
  Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.
  Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.
  Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.
</div>
<div class="course-buttons">
  <app-button (click)="deleteCourse(123)" [type]="'edit'" [text]="'Edit'"></app-button>
  <app-button [type]="'remove'" [text]="'Delete'"></app-button>
</div>
