<span class="course-name">
  {{ course?.title | uppercase }}
</span>
<div class="course-time">
  <span class="time-spend">{{ course?.durationMin | duration }}</span>
  <span class="time-date">{{course?.creationDate | date:'MMM dd yyyy'}}</span>
</div>
<div class="course-detail">
  {{course?.description}}
</div>
<div class="course-buttons">
  <app-button [routerLink]="['/courses', course?.id]" [type]="'edit'" [text]="'Edit'"></app-button>
  <app-button (click)="deleteCourse(course?.id)" [type]="'remove'" [text]="'Delete'"></app-button>
</div>
