:host {
  display: flex;
  padding: 10px;

  .breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    &__element {
      margin: 10px 0 10px 20px;
      color: #51535e;
      font-weight: 600;
      list-style-type: none;
    }
  }
}
