:host {

  .load-more {
    display: flex;
    justify-content: center;
    background: white;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    margin: 40px 10px;
    padding: 30px;
    text-decoration: underline;
    color: #8ba5ed;
    cursor: pointer;
  }
}
