:host {
  align-self: end;
  margin: 10px;

  .multi-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 40px;
    background: #30b6dd;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 20px;
    color: white;
    cursor: pointer;

    &:before {
      content: " ";
      background-image: url('/assets/images/add.svg');
      display: block;
      width: 20px;
      height: 20px;
    }

    .add:before {
      background-image: url('/assets/images/add.svg');
    }

    .edit:before {
      background-image: url('/assets/images/edit.svg');
    }

    .remove:before {
      background-image: url('/assets/images/remove.svg');
    }
  }
}
