:host {
  align-self: end;
  margin: 10px;

  .multi-button {
    display: flex;
    align-items: center;
    height: 40px;
    background: #30b6dd;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 25px;
    color: white;
    cursor: pointer;

    &:before {
      font-family: IconFontFamily, sans-serif;
      margin-right: 15px;
    }
  }

  .add {

    &:before {
      content: "\e906";
    }
  }

  .edit {

    &:before {
      content: "\e909";
    }
  }

  .remove {

    &:before {
      content: "\e90a";
    }
  }
}
